{% extends 'base.html' %}
{% block conteudo %}

{% with mensagens = get_flashed_messages() %}
  {% if mensagens %}
    <div class="mensagens-flash">
      {% for msg in mensagens %}
        <div class="alerta alerta-aviso">{{ msg }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div id="nova_senha">
<form class="form_nova_senha" action="/usuario/novasenha" method="POST"><label >Nova Senha</label>
<h2>Altere a senha</h2>
<p>É obrigatorio</p>
<input type="password" name="senha" required> 
<label>Confirme a nova senha:</label>
<input type="password" name="confirmacao" required>
<button type="submit">Cadastrar nova senha</button>
<a href="/">
<button type="button">Cancelar</button>
</a></form>
</div>
{% endblock %}